.tracks__grid,
.tracks__list,
.years-list {
    &::-webkit-scrollbar {
        width: 8px;

    }

    &::-webkit-scrollbar-track {
        border-radius: 3px;
        display: none;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dgray;
        border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $lgray;
    }
}