.login {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container-outer {
        display: flex;
        max-width: 604px;
        height: 100%;
        align-items: center;
    }

    &__container {
        padding: 30px 0;
        border-radius: 35px;
        width: 452px;
        height: max-content;
        background-color: #fff;
        margin-left: auto;
    }

    &__header {

        padding: 15px;
        display: flex;

        .logo-wrapper {

            display: grid;
            grid-template-columns: max-content max-content;
            grid-auto-rows: auto;

            img {
                width: 50px;
                grid-row: 1 / span 2;
            }

            $left: -7px;

            .title {
                position: relative;
                left: $left;
                font-family: 'poppins', serif;
                font-size: 24px;
                align-self: center;
                font-weight: 500;
                text-shadow: -3px 0px #fff, 3px 0px #fff;
            }

            span {
                display: inline-block;
                position: relative;
                left: $left;
                font-size: 12px;
                font-weight: 200;
                text-align: right;
            }
        }

        .contact-us {
            flex: 1;
        }

        .contact-us a {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            &:hover{
                text-decoration-line: underline;
            }
            
            span {
                color: $blue;
                text-align: right;
                display: block;
            }
        }
    }

    &__login-title {
        padding-left: 15px;
        font-weight: 700;
        font-size: 50px;
    }

    &__social {
        display: flex;
        margin-top: 50px;
        padding-right: 15px;

        .social-find-us {
            flex: 1 90%;
            display: inline-block;
            height: 60px;
            line-height: 4;
            padding: 0px;
            border-radius: rem(7);
            background: $lorange;
            text-align: center;
        }

        .btn-f {
            flex: 1 0;
            margin-left: 10px;

            i::before {
                font-size: 40px;
                color: $blue;
            }

            img {
                width: 55px;
                height: 55px;
            }
        }

        padding-left: 15px;
    }
}