// configuraciones globales
$primary: #ee3467;
$secundary: #f47e70;
$red: #FF2A3B;
$dgray : #252525;
$black : rgb(13, 13, 13);
$lgray : #C4C4C4;
$green: rgb(82, 245, 198);

// viewport
$pxm:400px;
$sm: 576px;
$md:768px;
$lg: 992px;
$xl: 1200px;