// configuraciones globales
$primary: #62C58C;
$orange: #F26522;
$red: #FF2A3B;
$lorange: #F8C438;
$dgray : #252525;
$black : #251D2D;
$lgray : #C4C4C4;
$green: rgb(82, 245, 198);
$blue: #3F7BF0;
// viewport
$pxm:400px;
$sm: 576px;
$md:768px;
$lg: 992px;
$xl: 1200px;